/* --- MOBILE-FIRST --- */

/* --- NAVBAR --- */
.navbar-custom {
    background: linear-gradient(70deg, #1a1a1a 15%, #ee891d 85%);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.9);
    position: relative;

}


/* --- BODY --- */

body {
    background-color: #242424; 
    color: white;
    font-family: 'Merriweather', serif; 
}

h1{
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
}

.centered-content {
    background-color: #2f2f2f;
    position: relative;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
}

.centered-content::before,
.centered-content::after {
    content: '';
    position: absolute;
    border: 5px solid #ee891d;
}

.centered-content::before {
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-right: none;
    border-bottom: none;
}

.centered-content::after {
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-left: none;
    border-top: none;
}

p {
    font-family: 'Merriweather', serif;
}

/* --- REGISTRATION FORM --- */

.registration-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    background-color: #2f2f2f;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form .form-group {
    margin-bottom: 20px;
}

.registration-form .form-check-label {
    color: white;
}

.registration-form .btn {
    background-color: #ee891d;
    border: none;
}

.registration-form .btn:hover {
    background-color: #d77a1a;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-form {
    max-width: 400px;
    padding: 20px;
    background-color: #2f2f2f;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    border: 2px solid #ee891d;
}


/* --- FOOTER --- */

.footer-basic {
    padding:40px 0;
    background: linear-gradient(70deg, #ee891d 15%, #1a1a1a 85%);
    color:#c3c3c3;
  }
  
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
.footer-basic li {
    padding:0 10px;
  }
  
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
.footer-basic ul a:hover {
    opacity:1;
  }
  
.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ffffff;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
.footer-basic .social > a:hover {
    opacity:0.9;
  }
  
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#ffffff;
    margin-bottom:0;
  }


/* --- PC ---*/

/* --- NAVBAR --- */

/* --- BODY --- */

/* --- REGISTRATION FORM --- */

@media (min-width: 768px) {
    .registration-form {
        max-width: 700px;
        padding: 30px;
    }
}

/* --- FOOTER --- */