/* --- MOBILE-FIRST --- */
/* --- NAVBAR --- */
.navbar-custom {
    background: linear-gradient(70deg, #1a1a1a 15%, #ee891d 85%);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.9);
    position: relative;

}


/* --- BODY --- */

body {
    background-color: #242424; 
    color: white;
    font-family: 'Merriweather', serif; 
}

h1{
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
}

.centered-content {
    background-color: #2f2f2f;
    position: relative;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
}

.centered-content::before,
.centered-content::after {
    content: '';
    position: absolute;
    border: 5px solid #ee891d;
}

.centered-content::before {
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-right: none;
    border-bottom: none;
}

.centered-content::after {
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-left: none;
    border-top: none;
}

p {
    font-family: 'Merriweather', serif;
}

/* --- PC ---*/