{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Kévinitator générateur de PDF</h1>
    <div class="centered-content">
        <p>La vie est dur ? <a href="{{ path('generate_pdf') }}">Génère un pdf. </a><br>
            Papa est parti à la naissance ? <a href="{{ path('generate_pdf') }}">Génère un pdf. </a><br> 
            Mamie est morte ? <a href="{{ path('generate_pdf') }}">Génère un pdf ! </a></p>
        <p>Vous pouvez générer votre pdf gratuitement ou avec un abonnement, selon vos envies !</p>
    </div>
{% endblock %}
